---
import {Picture} from '@astrojs/image/components'
import Main from '../layouts/Main.astro'
import Header from '../components/Header.astro'
import BoxCard from '../components/cards/BoxCard.astro'
import {NavPositionEnum} from '../components/NavBar.astro'
import SimpleCard from '../components/cards/SimpleCard.astro'
import ElegantHeader from '../components/ElegantHeader.astro'
import SubscribeCard from '../components/cards/SubscribeCard.astro'
import BoxCardWrapper from '../components/cards/wrappers/BoxCardWrapper.astro'
---
<Main
        title="Sobre Nosotros"
        navBarStyles={{
			navPosition: NavPositionEnum.fixed,
			navColor: {
				scrollY: 150,
				primary: 'bg-yellow-600',
				alternative: 'bg-transparent',
			},
			logoColor: {
				scrollY: 150,
				primary: 'text-zinc-900',
				alternative: 'text-yellow-600',
			},
			menuColor: {
				scrollY: 150,
				primary: 'text-zinc-900',
				alternative: 'text-yellow-600',
			},
		}}
>
    <div class="relative w-full h-[60vh] pt-20">
        <Picture
                class="absolute brightness-50 top-0 w-full h-[60vh] object-cover"
                src={import('../images/about-us-header.jpg')}
                alt="About Us Banner"
                widths={[600, 1200, 1800]}
                sizes="(max-width: 800px) 100vw, 800px"
                format="webp"
        />
        <div class="font-serif relative h-full w-full flex flex-col items-center justify-center">
            <h1 class="font-serif text-6xl md:text-8xl text-white">About Us</h1>
            <hr class="mt-4 w-64 h-1 mx-auto bg-yellow-600 border-0">
        </div>
    </div>
    <Header title="Our Mission"/>
    <SimpleCard
            content="Brew moments of warmth and connection, one cup at a time. We strive to create a welcoming space where exceptional coffee, community, and creativity come together to inspire and uplift."
    >
        <Picture
                class="w-full max-w-3xl grayscale-0 hover:grayscale rotate-0 hover:rotate-2 transition-all ease-in-out duration-700"
                src={import('../images/coffee-toast.jpg')}
                alt="Mission Card Image"
                widths={[600, 1200, 1800]}
                sizes="(max-width: 800px) 100vw, 800px"
                format="webp"
        />
    </SimpleCard>
    <Header title="Our Vision"/>
    <SimpleCard
            content="Be a cherished destination where coffee enthusiasts gather to experience the perfect blend of flavors, craftsmanship, and warmth. We aim to inspire and ignite a passion for coffee, creating memorable moments that elevate the coffee culture in our community."
            inverse={true}
    >
        <Picture
                class="w-full max-w-3xl grayscale-0 hover:grayscale rotate-0 hover:rotate-2 transition-all ease-in-out duration-700"
                src={import('../images/coffee-machine.jpg')}
                alt="Mission Card Image"
                widths={[600, 1200, 1800]}
                sizes="(max-width: 800px) 100vw, 800px"
                format="webp"
        />
    </SimpleCard>
    <ElegantHeader title="Our Values"/>
    <BoxCardWrapper>
        <BoxCard title="Quality"
                 description="We prioritize sourcing the finest beans and ingredients to deliver an exceptional coffee experience, ensuring every cup is a delightful indulgence."
                 alternative={true}
        />
        <BoxCard title="Sustainability"
                 description="We are committed to reducing our environmental impact through responsible sourcing, eco-friendly practices, and promoting reusable alternatives."
                 alternative={true}
        />
        <BoxCard title="Community"
                 description="We foster a sense of belonging by creating a welcoming space where people connect, collaborate, and share their love for coffee, creating lasting relationships."
                 alternative={true}
        />
    </BoxCardWrapper>
    <SubscribeCard/>
</Main>